/*
  Global settings
*/

// Import of global variables, mixins, and base styles
@import '@components/grid-layout';
@import '@components/variables';
@import '@components/mixins';
@import '@components/fonts';
@import '@components/reset';

// Import of global components
@import '@components/input/inputs.scss';
@import '@components/button/button.scss';

body {
  display: flex;
  position: relative;
  min-height: 100vh;
  font-size: 16px;
  background-color: $white-color;
  overflow-x: hidden;
}

h1 {
  font-family: 'Star Jedi', sans-serif;
  font-size: 4em;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: $black-text;
}

h2 {
  @include h2-style;
  color: $black-text;
}

h3 {
  @include h3-style;
}

h4 {
  @include h4-style;
}

h5 {
  @include h5-style;
}

p {
  @include p-style;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

a::before {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: $green-color;
  z-index: -1;
}

a:hover {
  color: $black-text;
}

span {
  display: flex;
  font-family: 'Roboto Regular', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: $grey-text;
  margin-top: -4px;
  margin-bottom: 8px;
  justify-content: center;
  width: 100%;
  max-width: 440px;
}

form {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-right: 16px;

  & > :first-child {
    flex: 1;
    margin-top: -8px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.results {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 16px;
  h2 {
    margin-bottom: 4px;
  }
  p {
    color: $grey-text;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 1024px) {
  body {
    height: auto;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  body {
    height: auto;
    font-size: 8px;
  }
}
